# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv

# Environment variables
.env

# Flask cache
instance/

# Pytest cache
.pytest_cache/\

# Jupyter Notebook
.ipynb_checkpoints

# VS Code settings
.vscode/

# MacOS files
.DS_Store

# Logs
*.log

# Coverage reports
htmlcov/
.coverage
.coverage.*

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# config.py
app/config.py
